canvas {
    margin-top: 100px;
    border: 1px solid #e5e5e5;
    transform: scaleY(-1);
}

.content {
    width: 980px;
    margin: 0 auto;
}

.button-small {
    font-size: 80%;
}

.ul-sort {
    display: inline-block;
    width: 150px;
}

.ul-sort li {
    text-decoration: none;
}